* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 96px;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.img-p {
  border-radius: 50%;
  height: 32px;
}
