* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 96px;
}
body {
  color: #fff;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.img-p {
  border-radius: 50%;
  height: 32px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.box-1 {
  padding: 24px;
  background-color: hsl(263, 55%, 52%);
  border-radius: 9px;
}
.head-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.head-text {
  font-size: 16px;
  font-weight: 600;
  color: hsl(210, 46%, 95%);
}
.head-j {
  font-weight: 500;
  font-size: 13px;
  color: hsl(0, 0%, 81%);
}
.bold-dis {
  font-size: 23px;
  font-weight: 600;
  color: hsl(210, 46%, 95%);
}
.head-dis {
  color: hsl(0, 0%, 81%);
}
